// vendors
@import vendors/pure/all

// helpers
.content-box
		padding: 0 1em
.txt-center
	text-align: center

/* custom styles */
.container
	max-width: 1000px
	margin: 0 auto
	
.filters
	select
		width: 100%

.results
	min-height: 400px 
	background: $cell-background
	padding-bottom: 1em
	h2
	// item of search
	.item-search
		overflow: hidden
		margin: 0.5em 0
		padding: 10px 20px
		background: #fff
		border: 1px solid $border
		border-radius: 8px