<!DOCTYPE html>
<html lang="en" ng-app="searcherUbicate">
  <head>
    <meta charset="UTF-8">
    <title>Buscador Ubícate</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body ng-controller="mainController">
    <div class="pure-g pure-g-r ">
      <div class="pure-u-2-5">
        <div class="content-box">
          <h1>Buscador Ubícate</h1>
          
          <div class="pure-form pure-form-aligned">
            <div class="pure-control-group">
              <label for="">Área:</label>
              <select name="area" ng-model="selectedArea"
                ng-options="area for area in areas">
                  <option value="">---Selecciona un área---</option>
              </select>
            </div>

            <div class="pure-control-group" ng-show="selectedArea">
              <label for="">Carrera:</label>
              <select name="career" ng-model="selectedCareer"
                ng-options="career.name for career in careers | filter:career.area=selectedArea">
                  <option value="">---Todas---</option>
              </select>
            </div>

            <div class="pure-control-group" ng-show="selectedCareer">
              <label for="">País:</label>
              <select name="country" ng-model="selectedCountry"
                ng-options="country.name for country in selectedCareer.countries">
                  <option value="">---Todos---</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="pure-u-3-5">
          <div class="content-box"> 
            <h2>Resultados</h2>
          </div>
          <div ng-show="selectedArea">
            <div class="content-box">
              <div ng-repeat="career in careers | filter:career.area=selectedArea | filter:career.name=selectedCareer.name">
                <div ng-repeat="country in career.countries | filter:country.name=selectedCountry.name">
                  <div class="item-search" ng-repeat="university in country.universities">
                    <p><strong>Carrera:</strong> {{ career.name }}</p>
                    <p><strong>Área:</strong> {{ career.area }}</p>
                    <p><strong>País:</strong> {{ country.name }}</p>
                    <p><strong>Universidad:</strong> {{ university }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <script src="allscripts.js"></script>
  </body>
</html>