<!DOCTYPE html>
<html lang="en" ng-app="searcherUbicate">
  <head>
    <meta charset="UTF-8">
    <title>Buscador Ubícate</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body ng-controller="mainController">
    <h1 class="txt-center">Buscador Ubícate</h1>
    
    <div class="pure-g pure-g-r container">
      <div class="pure-u-2-5 filters">
        <div class="content-box">
          <div class="pure-form pure-form-stacked"> 
            <legend>¿Quieres saber dónde puedes estudiar la carrera que te interesa?</legend>

            <div class="pure-control-group">
              <label for="">Área:</label>
              <select name="area" ng-model="selectedArea"
                ng-options="area for area in areas">
                  <option value="">---Selecciona un área---</option>
              </select>
            </div>

            <div class="pure-control-group" ng-show="selectedArea">
              <label for="">Carrera:</label>
              <select name="career" ng-model="selectedCareer"
                ng-options="career.name for career in careers | filter:career.area=selectedArea">
                  <option value="">---Selecciona una carrera---</option>
              </select>
            </div>

            <div class="pure-control-group" 
              ng-show="selectedCareer && selectedCareer.countries.length > 1">
              <label for="">País:</label>
              <select name="country" ng-model="selectedCountry"
                ng-options="country as country.name for country in selectedCareer.countries">
                  <option value="">---Todos los países---</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="pure-u-3-5 results">
        <div class="content-box" ng-if="selectedCareer">

          <p>
            Estas son las universidades en 
            <strong class="itemcountry" 
              ng-if="selectedCareer.countries.length > 1 && !selectedCountry"
              ng-repeat="country in selectedCareer.countries">
              {{ country.name }}</strong>
            <strong ng-if="selectedCountry">
              {{ selectedCountry.name }}
            </strong>
            <strong ng-if="selectedCareer.countries.length == 1">
              {{ selectedCareer.countries[0].name }}
            </strong>
            donde puedes estudiar la carrera de <b>{{ selectedCareer.name }}</b>
          </p>

          <div ng-repeat="career in careers | filter:career.area=selectedArea | filter:career.name=selectedCareer.name">
            <div ng-repeat="country in career.countries | filter:country.name=selectedCountry.name">
              <div class="item-search" ng-repeat="university in country.universities">
                <img class="universitylogo" src="http://placehold.it/84x84/dddddd/?text=Logo">
                <p><strong>País:</strong> {{ country.name }}</p>
                <p><strong>Universidad:</strong> {{ university }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="allscripts.js"></script>
  </body>
</html>